* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  border-radius: 50%;
}


/* Need fix gradient */
.main-container {
  height: 100vh;
  background: linear-gradient(to bottom, green, #ff3300);
  
}

/* CONTAINER ASIDE AND BLOCK MESSAGE */
.container {
  width: 80%;
  background-color: blue;
  height: 95%;
}

/* BLOCK MESSAGE */
.message-block {
  width: calc(100% - 300px);
  height: 100%;
  background-color: black;
}


/* ASIDE */
aside {
  background-color: aqua;
  width: 400px;
  height: 100%;
}


.top-icon-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
}

.notification-block {
  padding: 10px;
  background-color: rgb(142, 218, 252);
}

.notification-block i {
  color: rgb(142, 218, 252);
}

.research-block > input {
  width: 100%;
}

.contacts-chat {
  height: 539px;
  background-color: brown;
  overflow-y: scroll;
}





